<!DOCTYPE html>
<html>
	<head>
		<title>
			A Simple HTML Document
		</title>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script>
		$(document).ready(function() {	
			$("#btn-signup").click(function(){
				var user_email = $("#email").val();
				var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
				if (!expr.test(user_email)) {
					$('#errEmail').text('Please enter valid email.');
					$('#response-message').text('Please enter valid email.');
					$("#response-message-display").show();
					return false;
				}
				else {
					$.ajax({
						type: "POST",
						url: 'http://localhost//projects/teraspin2/webapps/teraspin2/main/src/php/forgot_password/DatabaseLayer/sendPasswordResetLink.php',
						data: {email: user_email},
						success: function(data){
							$('#response-message').text(data);
							$("#response-message-display").show();
						}
					});
				}
			});	
		});	
		</script>	
	</head>
	<body>
	<div id="contentmonty"></div>
	<div class="container">
		<div id="passwordreset" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Forgot Passsword</div>
					<div style="float:right; font-size: 85%; position: relative; top:-18px"><a id="signinlink" href="#">Sign In</a></div>
				</div>  
				<div class="panel-body" >
					<form id="forgot-password-form" class="form-horizontal" role="form" style="margin-top:20px" >
						
						<div class="form-group" style="display: none;" id="response-message-display">
							 <div class="well" id="response-message"> </div>
						</div>
						
						<div class="form-group">
							<label for="email" class="col-md-2 control-label">Email</label>
							<div class="col-md-9">
								<input type="type" class="form-control" id="email" name="email" placeholder="Enter your registered email address">
							</div>
						</div>
							
						<div class="form-group">
							<div class="col-md-offset-2 col-md-9">
								<button id="btn-signup" type="button" class="btn btn-primary" >Send</button>
							</div>
						</div>
						<!-- Button 
						<div class="form-group">
							<div class="col-md-12 control">
								<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
									We'll send you an email with a link to reset your password.
								</div>
							</div>
						</div>    
						-->
					</form>
				 </div>
				 <div class="panel-footer panel-custom">
					We'll send you an email with a link to reset your password.
				 </div>
			</div>
         </div> 
    </div>

	</body>
</html>